@model LojaWebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";

}

@{
    if (Model == null)
    {
        <div>
            <h2>Xiiii....Ocorreu um erro, but don't worry. Our team will fix soon.</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Titulo;
        <div>
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}